/*menu inicial */

.container {
    width: 100%;
    position: relative;
}

header {
    height: 65px;
}

.titulo-header {
    text-align: left;
    font-size: 32px;
    position: absolute;
}

.menu-header {
    display: none;
    /*overflow: hidden;*/
}

#botao-menu {
    background-color: transparent;
    display: inline-block;
    position: absolute;
    height: 24px;
    width: 24px;
    background-image: url(../img/bars.png);
    top: 20px;
    right: 10%;
}

.menu--aberto {}


/*banner*/

.banner {
    height: 130px;
    position: relative;
    width: 100%;
    overflow: auto;
}


/* Style the text over the slides */

.slide-text1 {
    font: bold 1em sans-serif;
    position: absolute;
    left: 19%;
    top: 7%;
}

.slide-text2 {
    font: bold 1em sans-serif;
    position: absolute;
    left: 17%;
    top: 43%;
}

.slide-text3 {
    font: bold 1em sans-serif;
    position: absolute;
    left: 25%;
    top: 23%;
}

.unslider-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1000;
    /* Para os dots ficarem sobre as imagens */
}

.unslider-nav ol li {
    width: 8px;
    height: 8px;
    margin-left: 6px;
    border-radius: 13px;
    border: 2px solid #fff;
}


/*Arrows*/

.unslider-arrow {
    position: absolute;
    top: 45%;
    z-index: 1000;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    visibility: hidden;
}


/* Change the arrow styles - You could also use an image instead*/

.unslider-arrow {
    visibility: hidden;
    /* Hide the default arrows */
}


/* Use dynamic content to add in a different character and show it */

.unslider-arrow:before {
    visibility: visible;
}

.unslider-arrow.prev:before {
    content: '';
    background-image: url(../img/arrow-left.png);
    width: 32px;
    height: 32px;
    display: block;
}

.unslider-arrow.next:before {
    content: '';
    background-image: url(../img/arrow-right.png);
    width: 32px;
    height: 32px;
    display: block;
}